html,body { width:100%; height:100%;}
body { padding:0; margin:0; font:15px Arial, sans-serif; background: url(../images/body-background.jpg) repeat-x #fff; color:#000;}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {padding:0; margin:0; outline:none; list-style:none;}
select, input, textarea { font-size:12px; vertical-align:middle;}
textarea { vertical-align:top;}
:focus { outline:none;}
input[type=submit] { cursor:pointer;}
img, fieldset { border:0;}
table { border-collapse:collapse; border-spacing:0;}
a:link, a:visited { font:12px Tahoma, sans-serif; text-decoration:underline;}
a:hover { text-decoration:none;}

.float-r { float:right !important;}
.float-l { float:left !important;}
.no-float { float:none !important;}
.no-border { border:0 !important;}
.no-bg { background:none !important;}
.no-margin { margin:0 !important;}
.no-padding { padding:0 !important;}
.no-display { display:none !important;}
.display { display:block !important;}
.inline { display:inline !important;}
.overflow { overflow:hidden !important;}
.align-r { text-align:right !important;}
.align-l { text-align:left !important;}
.align-c { text-align:center !important;}
.clear { clear:both;}

#wrapper { width:900px; margin:0 auto;}

#header { height:89px; padding-top:19px; margin-bottom:30px;}
#header .nav { float:right; margin-right:10px;} 
#header .nav li { float:left;}
#header .nav li a { color:#396375; font-size:15px; text-transform:uppercase; text-decoration:none; padding:37px 10px; line-height:1em; display:block;}
#header .nav li a:hover { color:#E11D5C;}
#header .nav li.active a { background:url(../images/menu-active.png) 50% 100% no-repeat; color:#E11D5C;}
.social { float:right; padding-top:30px; margin-right:115px;}
.social li { float:left; margin-left:10px;}
.social li a { width:23px; height:23px; background:url(../images/social-buttons.png) no-repeat; text-indent:-999em; display:block;}
.social li a.fb { background-position:-1px -1px;}
.social li a.vk { background-position:-33px -1px;}
.social li a.tw { background-position:-65px -1px;}
.social li a.fb:hover { background-position:-1px -25px;}
.social li a.vk:hover { background-position:-33px -25px;}
.social li a.tw:hover { background-position:-65px -25px;}


#content {}
#content h1 {color:#4B7589; font-size:55px; border-bottom:1px solid #A7C3CF; margin-bottom:30px;}
.geekteam {color:#4B7589; padding:0 30px;}
.geekteam li {margin-bottom:14px; overflow:hidden;}
.geekteam h2 {color:#E92777; font-size:28px; width:205px; text-align:right; line-height:1em; float:left; padding-top:50px;}
.geekteam .right h2 {float:right; text-align:left;}
.geekteam h2 span { font-size:12px; color: #F2753D; display:block;}
.geekteam img { float:left; margin:0 24px 0 18px;}
.geekteam .right img { float:right;}
.geekteam p { padding:40px 0 20px 0; }
.geekteam .right p { text-align:right;}
